@import "./assets/partials/reset";
@import "./assets/partials/variables";
@import "./assets/partials/color";
@import "./assets/partials/font";
@import "./assets/partials/mixing";
@import "./assets/partials/loops";
@import "./assets/partials/main";
@import "./assets/partials/animazioni";
