.d-flex-nav {
  @include d-flex-nav;
}
.nav-link {
  @include nav-link;
}
.title-hero {
  @include title-big;
}
.floating {
  @include floating;
}
.bg-hero {
  background-color: $bg-hero;
}
.text-color {
  color: $text-color;
}
button {
  color: $text-color;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
}
